h2{
    text-align: center;
}
button{
    margin-left: 48.3%;
    background:none;
    color: brown;
    padding: 5px 10px;
    border: 2px solid brown;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background-color: brown;
    color: #fff;;
}
#container {
    margin: 20px auto;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(9, auto);
}
.grid {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    padding: 5px;
    background-color: rgba(151, 140, 140, 0.795);
    border: 2px solid black;
    margin: 1px;
    border-radius: 3px;
    cursor: pointer;
} 
.grid:hover{
    background-color: rgba(121, 112, 112, 0.795) ;
}
